
:root {
  --color-primary: #174579;
  --color-primary-500: #174579;
  --color-primary-700: #0e2e53;

  --color-secondary: #D52B1E;
  --color-secondary-500: #D52B1E;
  --color-secondary-700: #be2519;

  --color-accent: #ff9331;
  --color-accent-500: #ff9331;
}
